<!DOCTYPE html>

<html lang = "fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content = IE=edge>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&family=Maven+Pro:wght@900&family=Noto+Sans&family=Ruda:wght@900&display=swap" rel="stylesheet">
        
        <!-- favicon.ico  --from https://favicon.io/-->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon_io/favicon.ico') }}">

        <!-- css style sheet -->
        <link href="{{ url_for('static', filename='styles/style.css') }}?v={{now}}" rel="stylesheet" type="text/css">
        <title>Estimation de prix</title>
    </head>

    <body>
    <div class="header">
        <h1>ESTIMATION DE PRIX</h1>
    </div>

    <div class="main">    
        <div class="result-container">
                <div class="result">
                {% if prediction %}
                    <p>D'après des données recueillies auprès de {{num_cars}} annonces de vente de voitures d'occasion, le prix de vente estimé est de :</p> 
                    <h2>{{prediction}} €</h2>
                {%endif%}
                </div> 
        </div>
                
        
        <div class="features">
        {% if input_data_values %}
        <p>Pour une voiture avec les caractéristiques suivantes :</p>
            <div class="container">
                <div class="row">
                    <div class="column-table">
                    <table> 
                        <thead>
                        <tr>
                            {% for feature in fr_features[:5] %}
                            <th> {{ feature }} </th>
                            {% endfor %}
                        </tr>
                        
                        </thead>
                        <tbody>
                        
                        <tr>
                            {% for feature,value in fr_features[:5]|zip(input_data_values[:5]) %}
                            <td data-label="{{feature}}"> {{ value }} </td>
                            {% endfor %} 
                        </tr>
                        
                        </tbody>
                    </table>
                    </div>
                        
                    <div class="column-table">
                    <table>
                        <thead>
                        <tr>
                            {% for feature in fr_features[5:] %}
                            <th> {{ feature }} </th>
                            {% endfor %}
                        </tr>
                        
                        </thead>
                        <tbody>
                        
                        <tr>
                            {% for feature,value in fr_features[5:]|zip(input_data_values[5:]) %}
                            <td data-label="{{feature}}"> {{ value }} </td>
                            {% endfor %} 
                        </tr>
                        
                        </tbody>
                    </table>
                    </div>
                    <br><br>
                {%endif%}      
                </div>
            
            </div>
            </div>
        </div>

        <footer>
            <a href="/">Retourner à la page d'accueil</a>
        </footer>



        <script type="module">
            // Import the functions you need from the SDKs you need
            import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.8/firebase-app.js";
            import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.8/firebase-analytics.js";
            // TODO: Add SDKs for Firebase products that you want to use
            // https://firebase.google.com/docs/web/setup#available-libraries
          
            // Your web app's Firebase configuration
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
            const firebaseConfig = {
              apiKey: "AIzaSyC2K2mPrGtlHz2gW9hweIXQhvYHyFJCmNg",
              authDomain: "estimateur-prix-voiture.firebaseapp.com",
              projectId: "estimateur-prix-voiture",
              storageBucket: "estimateur-prix-voiture.appspot.com",
              messagingSenderId: "617672649242",
              appId: "1:617672649242:web:af8d563373fe49343c3fa3",
              measurementId: "G-LXY1K01QNL"
            };
          
            // Initialize Firebase
            const app = initializeApp(firebaseConfig);
            const analytics = getAnalytics(app);
          </script>
    </body>

</html>