<!DOCTYPE html>

<html lang = "fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content = IE=edge>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&family=Maven+Pro:wght@900&family=Noto+Sans&family=Ruda:wght@900&display=swap" rel="stylesheet">
        
        <!-- favicon.ico  --from https://favicon.io/-->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon_io/favicon.ico') }}">

        <!-- css style sheet -->
        <link href="{{ url_for('static', filename='styles/style.css') }}?v={{now}}" rel="stylesheet" type="text/css">
        <title>Estimation de prix</title>
    </head>

    <body>
        
            <h1>ESTIMATION DE PRIX</h1>
        
        <div class="feat-font">    
        <div class="padding">
            <div class="large">
                <div class="result">
                {% if prediction %}
                    <p>D'après des données recueillies auprès de {{num_cars}} annonces de vente de voitures d'occasion, le prix de vente estimé est de :</p> 
                    <h2>{{prediction}} €</h2>
                {%endif%}
                </div>
            </div>
        </div>
                
        
        {% if input_data_values %}
        <p class = "large">Pour une voiture avec les caractéristiques suivantes :</p>
        <div class="container">
            <div class="row">
                <div class="column-table">
                <table> 
                    <thead>
                    <tr>
                        {% for feature in fr_features[:5] %}
                        <th> {{ feature }} </th>
                        {% endfor %}
                    </tr>
                    
                    </thead>
                    <tbody>
                    
                    <tr>
                        {% for feature,value in fr_features[:5]|zip(input_data_values[:5]) %}
                        <td data-label="{{feature}}"> {{ value }} </td>
                        {% endfor %} 
                    </tr>
                    
                    </tbody>
                </table>
                </div>
                    
                <div class="column-table">
                <table>
                    <thead>
                    <tr>
                        {% for feature in fr_features[5:] %}
                        <th> {{ feature }} </th>
                        {% endfor %}
                    </tr>
                    
                    </thead>
                    <tbody>
                    
                    <tr>
                        {% for feature,value in fr_features[5:]|zip(input_data_values[5:]) %}
                        <td data-label="{{feature}}"> {{ value }} </td>
                        {% endfor %} 
                    </tr>
                    
                    </tbody>
                </table>
                </div>
                <br><br>
            {%endif%}      
            </div>
           
        </div>
        </div>

        <footer class="medium">
            <a href="/">Retourner à la page d'accueil</a>
            </footer>
    </body>

</html>