/* RIGHT BORDER OF TABLE IS ALMOST GOOD ON SAMSUNG GS8 */
/* ALL RIGHT UP TO 720px, then gets better around 400px */
html { font-size:100%; }

body
{
    margin: 0;
    text-align: center;   
    background: linear-gradient(to bottom right, #ffd1f9, #7bf3cf, #a4fddb, #da9fd7);
	background-size: 400% 400%;
}

p {
    margin-bottom: -3rem;

}

h2 {
    margin-top: 5rem;
       
}

.medium {
    font-size: medium;
    margin-top: 2%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.large
{   
    font-size: large;
    padding: 1.5%;
}

.result{
    padding: 3%;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid rgb(75, 60, 70);
    background-color: #f1bf6d8c;
    border-radius: .3em;
    margin-bottom: 1%;
    margin-top: -1%;
    overflow:hidden;
}


table, th, td 
{   
    background-color:rgba(234, 247, 255, 0.712);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 2px;
    border: 2px solid black;
    border-collapse: collapse;
    height: 40px;
    table-layout: fixed;
    width:90%;
    overflow:hidden;
    margin-left: auto; 
    margin-right: auto;
    padding: 1rem;
    font-size: 15px;
}


th {
    background:rgba(221, 185, 209, 0.418);
}

.feat-font
{
    padding:30px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

select, input[type=number] {
    position: relative;
    width: 20em;
    height: 3em;
    line-height: 3;
    background:white;
    overflow: hidden;
    border-radius: .25em;
    margin:10px;
    cursor: pointer;
}

input[type=number] {
    height: 2.56em;
}

.column {
    float: left;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-table {
    float: left;
    width: 50%;
    margin-left: -2.7rem;
    margin-right: -2.7rem;
}

.container {
    padding-left: 9%;
}

input[type=submit]
{
    background-color: #58e4fbab;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
    border-radius: .25em;
    border: 2px solid black;
    margin-top: -10rem;
}



h1
{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    background: radial-gradient(circle at 40% 40%, #ffd582 25%, transparent 26%),radial-gradient(circle at 60% 60%, #ffd58280 25%, transparent 26%);
    background-size: 3em 3em;
    background-color: #f9f9ff;
    opacity: 0.45;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-family: 'Maven Pro', sans-serif;
    font-size: 45px;
    color:white;
    text-shadow: 2px 2px 4px #000000, 2px 2px 6px #000000;
}

@media screen and (max-width: 1900px) and (min-width: 1024px) {
    .result{
        margin-left: 20%;
        margin-right: 20%;
    }

    .column-table {
        width: 100%;
    }   
}


@media screen and (max-width: 1024px) and (min-width: 724px) {
    .column {
        float: left;
        width: 50%;
    }

    input[type=submit]{
    margin-top:2rem;
    }

    .result{
        padding: 5%;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 1%;
        margin-top: -1%;
    }

    .column-table {
        width: 100%;
    }

    table {
        border: 0;
        background:rgba(255, 255, 255, 0);
        width: 100%;
      }
  
      table thead {
        display: none;
      }
  
      table td {
        display: block;
        text-align: right;
        font-size: 13px;
        margin-top: 10px;
        font-size: 15px;
      }
  
      table td:before {
        content: attr(data-label);
        float: left;
        margin-top: 12px;
        text-transform: uppercase;
        font-weight: bold;
      }

    .large{
        padding: 2%;
    }
}

@media screen and (max-width: 1024px){
    h1 {
        margin-bottom: 20px;
    } 

    .result{
        padding: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .feat-font
    {
        padding-right: 1%;
    }

   }



@media screen and (max-width: 724px) 
{
    .column {
        float: left;
        width: 100%;
    }

    input[type=submit]{
    margin-top:2rem;
    }

    .column-table {
        width: 100%;
    }

    table {
        border: 0;
        background:rgba(255, 255, 255, 0);
        width: 100%;
      }
  
      table thead {
        display: none;
      }
  
      table td {
        display: block;
        text-align: right;
        font-size: 13px;
        margin-top: 10px;
        font-size: 15px;
      }
  
      table td:before {
        content: attr(data-label);
        float: left;
        margin-top: 12px;
        text-transform: uppercase;
        font-weight: bold;
      }

    .large{
        padding: 2%;
    }
}

